* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: white;
    font-weight: 700;
}

body {
    background-image: url(img/bg.jpg);
    background-position: center;
    width: 100%;
    height: 100dvh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100dvh;
    background-color: rgb(0, 0, 0, 0.15);
    backdrop-filter: blur(15px);
}

.main-container {
    width: 300px;
    height: 500px;
    z-index: 1;
    border-radius: 12px;
    background: linear-gradient(to top, rgb(0, 0, 0, 0.15), rgb(255, 255, 255, 0.15));
    backdrop-filter: blur(100px);
    padding: 20px;
}

/* Input Container */
.input-container {
    position: relative;
    margin-bottom: 25px;
}

.city-input {
    width: 100%;
    padding: 10px 16px;
    border: 3px solid transparent;
    border-radius: 100px;
    background: rgb(0, 0, 0, 0.15);
    outline: none;
    font-weight: bold;
    font-size: 15px;
    transition: 0.25s border;
    padding-right: 45px;
}

.city-input:focus {
    border: 3px solid rgba(0, 0, 0, 0.15);
}

.city-input::placeholder {
    color: rgba(255, 255, 255, 0.75);
}

.search-btn {
    position: absolute;
    right: 16px;
    top: 50%;
    display: flex;
    background: none;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
}

/* End of Input Container */

/* Utility Classes */
.regular-txt {
    font-weight: 500;
}

/* End of Utility Class */

/* Section: Weather */

.weather-info {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.location-date-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.location {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.weather-summary-info {
    text-align: end;
}

.weather-summary-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.weather-img {
    width: 120px;
    height: 120px;
}

.weather-conditions-container {
    display: flex;
    justify-content: space-between;
}

.condition-item {
    display: flex;
    gap: 6px;
    align-items: center;
}

.condition-item span {
    font-size: 30px;
}

.forecast-items-container {
    display: flex;
    gap: 15px;
    overflow: scroll;
    padding-bottom: 12px;
}

.forecast-items-container::-webkit-scrollbar {
    height: 8px;
}

.forecast-items-container::-webkit-scrollbar-track {
    background-color: rgb(0, 0, 0, 0.1);
    border-radius: 99px;
}

.forecast-items-container::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0, 0.15);
    border-radius: 99px;
}

.forecast-item {
    min-width: 70px;
    background: rgb(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
    padding: 10px;
    border-radius: 12px;
    transition: 0.3s background;
}

.forecast-item-img {
    width: 35px;
    height: 35px;
}

.forecast-item:hover {
    background-color: rgb(255, 255, 255, 0.15);
}

.section-message {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 25%;
    gap: 15px;
}

.message-img {
    height: 180px;
    width: fit-content;
}